*{
  color: white;
}


.hr{
  border-top: solid .13rem #222222;
  border-radius: 100%;
  margin: 1.5rem 1rem 0 1rem;
}

.main-container {
  margin: 3rem 20rem 0  20rem;
}

.news-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 .7rem 0;
}

.news-subtitle{
  font-size: .7rem;
  margin: 0 0 2rem 0;
  text-align: center;
  opacity: .65;
  text-transform: lowercase;
}

.news-subtitle::first-letter{
  text-transform: uppercase;
}

.news-image>img{
  width: 100%;
  height: 100%;
}

.news-data {
  font-size: .7rem;
  margin: 0 0 1.5rem 0;
  opacity: .5;
}

.news-content{
  margin: 0 0 2rem 0;
  text-align: justify;
}

.news-content::first-letter{
  text-transform: uppercase;
}

.news-back{
  text-align: center;
  font-size: .8rem;
  margin: 0 0 4rem 0;
  padding: 2rem 0 0 0;
}

.news-back>button {
  height: 3rem;
  width: 8rem;
  font-weight: bold;
  background-color: #222222;
  border: none;
  border-radius: .4rem;
  color: rgba(255, 255, 255, 0.8);
}

.news-back>button:hover{
  cursor: pointer;
  background-color: #111111;
  border: 2px solid #222222;
  transition: .15s;
  color: rgba(255, 255, 255, 0.5);
}
