
<app-menu-bar></app-menu-bar>

<div class="hr"></div>

<div class="main-container">

  <div class="news-title">
    <h1>{{newsTitle}}</h1>
  </div>
  <div class="news-subtitle">
    <h2>{{newsSubtitle}}</h2>
  </div>
  <div class="news-image">
    <img src="{{ newsImage }}" alt="">
  </div>
  <div class="news-data"><p>{{ newsData }}</p></div>
  <div class="news-content"><p>{{newsContent}}</p></div>

  <div class="news-back">
    <button [routerLink]="['']">Back To Home</button>
  </div>
</div>
